# Node
node_modules/
**/node_modules/

# caches
.cache/
**/.cache/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env

# OS files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/

# Archive folder for removed projects
archive/
